In [ ]:
#to develop and evaluate to machine learning model that can automatically recoginise and classify hand writtenn digiitas 0 to 9 from image data
#read dataset display data types null column and row in data set 1st five and last 5 data set and 10 first and 10 last dataset mean median mode
import pandas as pd
df = pd.read_csv("optdigits_raw.csv")

print(df.dtypes)

0     int64
1     int64
2     int64
3     int64
4     int64
      ...
60    int64
61    int64
62    int64
63    int64
64    int64
Length: 65, dtype: object

In [ ]:
print(df.isnull)

<bound method DataFrame.isnull of       0  1   2   3   4   5  6  7  8  9  ...  55  56  57  58  59  60  61  62  \
0     0  1   6  15  12   1  0  0  0  7  ...   0   0   0   6  14   7   1   0
1     0  0  10  16   6   0  0  0  0  7  ...   0   0   0  10  16  15   3   0
2     0  0   8  15  16  13  0  0  0  1  ...   0   0   0   9  14   0   0   0
3     0  0   0   3  11  16  0  0  0  0  ...   0   0   0   0   1  15   2   0
4     0  0   5  14   4   0  0  0  0  0  ...   0   0   0   4  12  14   7   0
...  .. ..  ..  ..  ..  .. .. .. .. ..  ...  ..  ..  ..  ..  ..  ..  ..  ..
3818  0  0   5  13  11   2  0  0  0  2  ...   0   0   0   8  13  15  10   1
3819  0  0   0   1  12   1  0  0  0  0  ...   0   0   0   0   4   9   0   0
3820  0  0   3  15   0   0  0  0  0  0  ...   0   0   0   4  14  16   9   0
3821  0  0   6  16   2   0  0  0  0  0  ...   0   0   0   5  16  16  16   5
3822  0  0   2  15  16  13  1  0  0  0  ...   0   0   0   4  14   1   0   0

      63  64
0      0   0
1      0   0
2      0   7
3      0   4
4      0   6
...   ..  ..
3818   0   9
3819   0   4
3820   0   6
3821   0   6
3822   0   7

[3823 rows x 65 columns]>

In [ ]:
print(df.head())

   0  1   2   3   4   5  6  7  8  9  ...  55  56  57  58  59  60  61  62  63  \
0  0  1   6  15  12   1  0  0  0  7  ...   0   0   0   6  14   7   1   0   0
1  0  0  10  16   6   0  0  0  0  7  ...   0   0   0  10  16  15   3   0   0
2  0  0   8  15  16  13  0  0  0  1  ...   0   0   0   9  14   0   0   0   0
3  0  0   0   3  11  16  0  0  0  0  ...   0   0   0   0   1  15   2   0   0
4  0  0   5  14   4   0  0  0  0  0  ...   0   0   0   4  12  14   7   0   0

   64
0   0
1   0
2   7
3   4
4   6

[5 rows x 65 columns]

In [ ]:
print(df.tail())

      0  1  2   3   4   5  6  7  8  9  ...  55  56  57  58  59  60  61  62  \
3818  0  0  5  13  11   2  0  0  0  2  ...   0   0   0   8  13  15  10   1
3819  0  0  0   1  12   1  0  0  0  0  ...   0   0   0   0   4   9   0   0
3820  0  0  3  15   0   0  0  0  0  0  ...   0   0   0   4  14  16   9   0
3821  0  0  6  16   2   0  0  0  0  0  ...   0   0   0   5  16  16  16   5
3822  0  0  2  15  16  13  1  0  0  0  ...   0   0   0   4  14   1   0   0

      63  64
3818   0   9
3819   0   4
3820   0   6
3821   0   6
3822   0   7

[5 rows x 65 columns]

In [ ]:
print(df.head(10))

   0  1   2   3   4   5  6  7  8  9  ...  55  56  57  58  59  60  61  62  63  \
0  0  1   6  15  12   1  0  0  0  7  ...   0   0   0   6  14   7   1   0   0
1  0  0  10  16   6   0  0  0  0  7  ...   0   0   0  10  16  15   3   0   0
2  0  0   8  15  16  13  0  0  0  1  ...   0   0   0   9  14   0   0   0   0
3  0  0   0   3  11  16  0  0  0  0  ...   0   0   0   0   1  15   2   0   0
4  0  0   5  14   4   0  0  0  0  0  ...   0   0   0   4  12  14   7   0   0
5  0  0  11  16  10   1  0  0  0  4  ...   3   0   0  10  16  16  16  16   6
6  0  0   1  11  13  11  7  0  0  0  ...   0   0   0   1  13   5   0   0   0
7  0  0   8  10   8   7  2  0  0  1  ...   0   0   0   4  13   8   0   0   0
8  0  0  15   2  14  13  2  0  0  0  ...   0   0   0  10  12   5   0   0   0
9  0  0   3  13  13   2  0  0  0  6  ...   0   0   0   3  15  11   6   0   0

   64
0   0
1   0
2   7
3   4
4   6
5   2
6   5
7   5
8   0
9   8

[10 rows x 65 columns]

In [ ]:
print(df.tail(10))

      0  1   2   3   4   5  6  7  8  9  ...  55  56  57  58  59  60  61  62  \
3813  0  0   0   6   8   0  0  0  0  0  ...   0   0   1   4   9   8   0   0
3814  0  0   9  16   6   0  0  0  0  2  ...   0   0   0  10  13   1   0   0
3815  0  0   9  16  12   1  0  0  0  3  ...   0   0   0   8  16  16  16   8
3816  0  1  10  16  16   4  0  0  0  8  ...   0   0   2  13  16  12   5   0
3817  0  0   6  16  11   0  0  0  0  1  ...   0   0   1   7  14  16  12   1
3818  0  0   5  13  11   2  0  0  0  2  ...   0   0   0   8  13  15  10   1
3819  0  0   0   1  12   1  0  0  0  0  ...   0   0   0   0   4   9   0   0
3820  0  0   3  15   0   0  0  0  0  0  ...   0   0   0   4  14  16   9   0
3821  0  0   6  16   2   0  0  0  0  0  ...   0   0   0   5  16  16  16   5
3822  0  0   2  15  16  13  1  0  0  0  ...   0   0   0   4  14   1   0   0

      63  64
3813   0   4
3814   0   8
3815   0   9
3816   0   3
3817   0   9
3818   0   9
3819   0   4
3820   0   6
3821   0   6
3822   0   7

[10 rows x 65 columns]

In [ ]:
print(df.median(numeric_only=True))

0          0.0
start1     0.0
2          5.0
3         13.0
4         13.0
          ...
60        13.0
61         6.0
62         0.0
63         0.0
64         4.0
Length: 65, dtype: float64

In [ ]:
print(df.info)

<bound method DataFrame.info of       0  start1   2   3   4   5  6  7  8  9  ...  55  56  57  58  59  60  61  \
0     0       1   6  15  12   1  0  0  0  7  ...   0   0   0   6  14   7   1
1     0       0  10  16   6   0  0  0  0  7  ...   0   0   0  10  16  15   3
2     0       0   8  15  16  13  0  0  0  1  ...   0   0   0   9  14   0   0
3     0       0   0   3  11  16  0  0  0  0  ...   0   0   0   0   1  15   2
4     0       0   5  14   4   0  0  0  0  0  ...   0   0   0   4  12  14   7
...  ..     ...  ..  ..  ..  .. .. .. .. ..  ...  ..  ..  ..  ..  ..  ..  ..
3818  0       0   5  13  11   2  0  0  0  2  ...   0   0   0   8  13  15  10
3819  0       0   0   1  12   1  0  0  0  0  ...   0   0   0   0   4   9   0
3820  0       0   3  15   0   0  0  0  0  0  ...   0   0   0   4  14  16   9
3821  0       0   6  16   2   0  0  0  0  0  ...   0   0   0   5  16  16  16
3822  0       0   2  15  16  13  1  0  0  0  ...   0   0   0   4  14   1   0

      62  63  64
0      0   0   0
1      0   0   0
2      0   0   7
3      0   0   4
4      0   0   6
...   ..  ..  ..
3818   1   0   9
3819   0   0   4
3820   0   0   6
3821   5   0   6
3822   0   0   7

[3823 rows x 65 columns]>

In [ ]:
df.rename(columns={'1': 'start1'}, inplace=True)
print(df.info)

<bound method DataFrame.info of       0  start1   2   3   4   5  6  7  8  9  ...  55  56  57  58  59  60  61  \
0     0       1   6  15  12   1  0  0  0  7  ...   0   0   0   6  14   7   1
1     0       0  10  16   6   0  0  0  0  7  ...   0   0   0  10  16  15   3
2     0       0   8  15  16  13  0  0  0  1  ...   0   0   0   9  14   0   0
3     0       0   0   3  11  16  0  0  0  0  ...   0   0   0   0   1  15   2
4     0       0   5  14   4   0  0  0  0  0  ...   0   0   0   4  12  14   7
...  ..     ...  ..  ..  ..  .. .. .. .. ..  ...  ..  ..  ..  ..  ..  ..  ..
3818  0       0   5  13  11   2  0  0  0  2  ...   0   0   0   8  13  15  10
3819  0       0   0   1  12   1  0  0  0  0  ...   0   0   0   0   4   9   0
3820  0       0   3  15   0   0  0  0  0  0  ...   0   0   0   4  14  16   9
3821  0       0   6  16   2   0  0  0  0  0  ...   0   0   0   5  16  16  16
3822  0       0   2  15  16  13  1  0  0  0  ...   0   0   0   4  14   1   0

      62  63  64
0      0   0   0
1      0   0   0
2      0   0   7
3      0   0   4
4      0   0   6
...   ..  ..  ..
3818   1   0   9
3819   0   0   4
3820   0   0   6
3821   5   0   6
3822   0   0   7

[3823 rows x 65 columns]>